.header, .list{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}
.header{
    margin-bottom: 4.8rem;
}
.logo{
    flex-grow: 2;
    font-size: 1.875rem;
    align-items: center;
    color: #95e1d3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    border-bottom: 0.0625rem transparent;
    text-transform: uppercase;
}

.list{
    flex-grow: 1;
    align-self: center;
    font-size: 0.875rem;
    font-weight: 700;
    padding: 0.625rem 0;
    color: #95e1d3;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    border-bottom: 0.1875rem solid transparent;
    cursor: pointer;
}

.list-item:hover{
    color: rgb(209, 60, 72);
    transition-duration: 1s;
    position: relative;
}
.logo:hover{
    color: rgb(209, 60, 72);
    transition-duration: 1s;
    position: relative;
}


.logo::after{
    opacity: 0;
    display: block;
    position: absolute;
    content: '';
    width: 11rem;
    height: 0.1875rem;
    background-color: #f38181;
    margin:0.325rem auto 0;
}

.logo:hover::after{
    opacity: 1;
    transition-timing-function: linear;
    transition-duration: 1s;
}




.list-item::after{
    opacity: 0;
    display: block;
    position: absolute;
    content: '';
    width: 6.75rem;
    height: 0.1875rem;
    background-color: #f38181;
    margin:0.325rem auto 0;
}

.list-item:hover::after{
    transition-duration: 1s;
    transition-timing-function: linear;
    opacity: 1;
}