* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  z-index: 100;
  overflow: auto;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-size: cover;
  min-height: 100vh;
  background-image: linear-gradient(#24C6DC, #514A9D);

}
header{
  position:fixed;
  z-index: 50;
  position: fixed;
  background-color: rgb(58, 58, 58);
  width: 100%;
}

.content{
  position: absolute;
  margin-top: 65px;
}
/* ++++++++++++++++++++++ */
/* .card-container li:first-child{
  display: inline-block;
  background-image: url(./img/images.jpg);
  background-size: cover; 
  height: 264px;
    width: 21%;
    margin: 1.8%;
    position: relative;

}
.card-container li:first-child::after{
  content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);

} */

/* .main-box{
  position:relative;
  width: 400px;
  height: 400px;
  background-color: rgb(77, 77, 77);
  margin: auto;
}
.sub-box{
  position:absolute;
  width: 100px;
  height: 100px;
}
.sub-box:nth-child(1){
  background-color: rgb(87, 76, 185);
}
.sub-box:nth-child(2){
  background-color: rgb(0, 217, 255);
  left: 150px;
}
.sub-box:nth-child(3){
  background-color: rgb(255, 0, 191);
  left: 300px;

}
.sub-box:nth-child(4){
  top: 150px;
  background-color: red;
}
.sub-box:nth-child(5){
  background-color: rgb(162, 0, 255);
  left: 50%;
  top: 50%;
  transform: translate( -50%, -50%);
}
.sub-box:nth-child(6){
  background-color: rgb(5, 122, 15);
  top: 150px;
  left:300px
}
.sub-box:nth-child(7){
  background-color: rgb(251, 255, 0);
  top:300px
}
.sub-box:nth-child(8){
  background-color: rgb(89, 0, 255);
  top: 300px;
  left: 150px;
}
.sub-box:nth-child(9){
  background-color: rgb(166, 255, 0);
  bottom: 0;
  right: 0;
} */


/* +++++++++++++++++++++++ */

h1{
  color: rgb(95, 95, 95);
  text-transform:uppercase;
  text-align: center;
  margin: auto;
  width: max-content;
}

h1:hover::after{
  display: block;
  width: 22%;
  height: 5px;
  background-color: rgb(255, 0, 0);
  content: "";
  position: absolute;
  /* left: 47%; */
  margin: 0 auto;
}

ul, a{
  list-style-type: none;
margin: 0;
padding: 0;
font-size: 15px;
  text-decoration: none;
  color: rgb(95, 95, 95);
}

nav, .list {
display: inline-block;
}
nav{
/* margin-top: 2%; */
margin: 10px;
text-transform: uppercase;


}
nav a{
font-size: 25px;
transition: 0.5s;
font-weight: 700;

}
nav a:hover{
color: rgb(255, 0, 0);
}
.list{
float:right;
}
.list li{
  float:left;
  margin: 10px;
  border: 1px solid;
  border-color: rgb(149, 149, 149);
  border-radius: 9px;
  padding: 5px;
  text-transform: uppercase;
  transition: 0.5s;
}
.list li:hover{
background-color: rgb(95, 95, 95);
color: rgb(238, 238, 238);

}
.list li:hover a{
color: rgb(255, 0, 0);
}
/* ........................CARD CONTAINERS................................ */

body{
counter-reset:count-card 1;
}
.card{
counter-increment: count-card;
}

.card-container{
margin: auto;
display: block;
width: 90%;
}
.card-container li{
display: inline-block;
width: 21%;
margin: 1.8%;
transition: transform .4s; 
}

.card-container li:hover p:nth-child(2){
background: rgba(41, 11, 11, 0.575);
}
.card-container li:hover p:nth-child(3){
background: rgba(121, 33, 33, 0.575);
}

.card-container li:hover{
  transform: scale(1.3);
transform-origin: 50% 50%;
  }
.card-container li:before{
color: rgb(255, 0, 0);
text-align: center;
  display: block;
  width: 24px;
  position: relative;
  left: 0px;
  bottom: 0px;
  content: counter(count-card, upper-roman);
  font-size: 12px;
  background-color: rgb(235, 235, 235);
  opacity: 0.6;
}
.card{
background-color: rgb(240, 156, 156);

}
img {
width: 100%;
margin-bottom: 0;
float: left;
}

/* ..........................CARDS......................... */

.card p{
margin: 0px;
display: inline-block;
margin-block-end: 0px;
margin-block-start: 0px;
float: left;
height: 30px;
text-align: center;
vertical-align: middle;
line-height: 28px;
text-transform: uppercase;
color: rgb(255, 255, 255);
}
.card p:nth-child(2){
background-color: rgb(34, 30, 30);
width: 70%;
}
.card p:nth-child(3){
background-color: rgb(156, 156, 156);
width: 30%;
}

